.cover__title {
    margin: 0 auto 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    min-height: 70px;
    max-width: 560px;
}

@media (min-width: 768px) {
    .cover__title {
        min-height: 152px;
        font-size: 72px;
        line-height: 76px;
        margin: 0 auto 32px;
    }
}